---
import Layout from '../layouts/BirdData.astro';
---

<Layout
	title="Avesnap"
	description="Birding Site for the US"
	pubDate={new Date('February 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Will add more eventually!
	</p>
</Layout>
