---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Welcome to Avesnap!</h1>
      <p>
        This site is a passion project of mine to learn more about birds. I hope
        you do as well!
      </p>
      <p>
        I will add ads eventually, just to make a bit of money. I know, I know
        that's annoying. I will keep them minimal and non disruptive.
      </p>
      <p>
        Check out the backend repo <a
          href="https://github.com/Discordant-Apex190/avesnap"
        >
        </a> Check out the frontend repo <a
          href="https://github.com/Discordant-Apex190/avesnap-frontend"></a>.
      </p>
    </main>
    <Footer />
  </body>
</html>
